Le nombre d'auteurs est {{ authors | length }}
<br>
{% if authors is empty %}
    No authors found 
{% else %}
<table border=1>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>email</th>
        <th># books</th>
        <th>picture</th>
    </tr>
    {% for author in authors | reverse %}
      <tr>
        <td>{{ author.id }}</td>
        <td>{{ author.username | upper | capitalize }}</td>
        <td>{{ author.email }}</td>
        <td>{{ author.nb_books }}</td>
        <td><img src="{{ asset(author.picture) }}" alt="" width=100></td>
        <td>
            <a href="{{ path('author_details', {id: author.id})}}"></a>
        </td>
    </tr>  
    {% endfor %}
    
</table>
{% endif %}

{% set nb = 0 %}
{% for a in authors %}
    {% set nb = nb + a.nb_books%}
{% endfor %}
<br>
Le nombre total de livres est {{ nb }}.
<br>